<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <header>
        / <a href="/">Home</a> / <a href="/items">Items</a>  / <a href="/about">About</a>
    </header>
    <!-- Имя: <b>{author["name"]}</b><br>
    Отчество: <b>{author["middle"]}</b><br>
    Фамилия: <b>{author["surname"]}</b><br>
    телефон: <b>{author["phone"]}</b><br>
    email: <b>{author["email"]}</b><br> -->

    <h2>Обо мне</h2>
    <div> {{author}}</div>
    <!-- <a href="/">Назад</a> -->
    
</body>
</html>